{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto py-12">
    <div class="grid grid-cols-3 gap-4">

        <a class="flex flex-col items-center justify-center bg-white rounded-lg shadow-md p-6 hover:bg-gray-200 transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                hx-get    = "{% url 'user:create_user' %}"
                hx-target = "#modalContent"
            >
              Add Employee
            </button>
        </a>

        <a href="{% url 'user:list_user' %}" class="flex flex-col items-center justify-center bg-white rounded-lg shadow-md p-6 hover:bg-gray-200 transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
            </svg>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Employee - List
            </button>
        </a>

        <a href="{% url 'user:user_hierarchy' %}" class="flex flex-col items-center justify-center bg-white rounded-lg shadow-md p-6 hover:bg-gray-200 transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
            </svg>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Employee - Hierarchy
            </button>
        </a>
    </div>
</div>

<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6">What We Do</h1>
    <p class="mb-6">EPI-USE is the world’s largest and most experienced independent SAP HR/Payroll specialist and has
        emerged as a leader in designing, building, and implementing Cloud-based, hybrid and on-premises HR/Payroll
        systems for large, complex multinational corporations and public sector agencies.</p>
    <p class="mb-6">With a suite covering more than 40 countries, EPI-USE is the world’s largest developer and
        purveyor of SAP local payroll country versions, for regions in which SAP does not offer a standard payroll
        solution. In its 40-plus year history, EPI-USE has implemented or been involved with more than 1,500 SAP
        HCM-based implementations around the world, and licenses proprietary SAP-related software to over 1,000 large
        enterprises and public sector agencies worldwide.</p>
    <p class="mb-6">EPI-USE Labs, the Group’s SAP software arm, also offers non-HR related SAP data management and
        landscape transformation software and services. EPI-USE is rapidly emerging as a leader in the S/4HANA
        arena in the US, the UK, the Asia-Pacific region and Southern Africa (through the G3G brand in all but the
        US).</p>
</div>


{% endblock content %}