{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Employee Hierarchy</h1>
    <div class="space-y-4">
        {% for manager, employees in hierarchy_dict.items %}
            <div class="border p-4 rounded-lg">
                <div class="flex justify-between items-center">
                    <div>
                        <h2 class="text-lg font-bold inline">{{ manager.first_name }} {{ manager.last_name }}</h2>
                        <button hx-get    = "{% url 'user:update_user' manager.id %}"
                                hx-target = "#modalContent"
                                class="px-5 py-2 border-blue-500 border rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">
                            Edit
                        </button>
                    </div>
                </div>
                <p class="text-gray-500">{{ manager.role }}</p>
                <div class="mt-2 space-y-2">
                    {% for employee in employees %}
                        <div class="border-l-2 border-gray-300 pl-2">
                            <p>{{ employee.first_name }} {{ employee.last_name }}</p>
                            <p class="text-gray-500">{{ employee.role }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}