{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EPI-USE | User Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body class="text-slate-700">

{% include 'common/toast/toast.html' %}
{% include 'common/modals.html' %}
{% include 'system/navbar/navbar.html' %}

<div class="p-4 sm:ml-64">
    <div class="p-4 rounded-lg dark:border-gray-700 mt-14">
        {% block content %}
        {% endblock content %}
    </div>
</div>

<script type="text/javascript">
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>

</body>
</html>

